In [1]:
import os
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
from selenium import webdriver
import pandas as pd
import requests

In [21]:
driver = webdriver.Chrome(executable_path="chromedriver.exe")
url = 'https://finance.yahoo.com/quote/TSLA/history?p=TSLA'
driver.get(url)

data =[]
for i in range(1,31):
    date = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[1]/span').text
    open = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[2]/span').text
    high = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[3]/span').text
    low = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[4]/span').text
    close = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[5]/span').text
    adj_close = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[6]/span').text
    volume = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[7]/span').text
    
    data.append({'date' : date,
                    'open' : open,
                    'high' :high,
                    'low': low,
                    'close':close,
                    'adj_close': adj_close,
                    'volume':volume})
    
cs =  pd.DataFrame(data)


cs

            date    open    high     low   close adj_close       volume
0   Nov 11, 2022  186.00  196.52  182.59  195.97    195.97  114,229,200
1   Nov 10, 2022  189.90  191.00  180.03  190.72    190.72  132,703,000
2   Nov 09, 2022  190.78  195.89  177.12  177.59    177.59  127,062,700
3   Nov 08, 2022  194.02  195.20  186.75  191.30    191.30  128,803,400
4   Nov 07, 2022  208.65  208.90  196.66  197.08    197.08   93,916,500
5   Nov 04, 2022  222.60  223.80  203.08  207.47    207.47   98,453,100
6   Nov 03, 2022  211.36  221.20  210.14  215.31    215.31   56,538,800
7   Nov 02, 2022  226.04  227.87  214.82  214.98    214.98   63,070,300
8   Nov 01, 2022  234.05  237.40  227.28  227.82    227.82   62,688,800
9   Oct 31, 2022  226.19  229.85  221.94  227.54    227.54   61,554,300
10  Oct 28, 2022  225.40  228.86  216.35  228.52    228.52   69,152,400
11  Oct 27, 2022  229.77  233.81  222.85  225.09    225.09   61,638,800
12  Oct 26, 2022  219.40  230.60  218.20  224.64    224.64   85,012,500
13  Oct 25, 2022  210.10  224.35  210.00  222.42    222.42   96,507,900
14  Oct 24, 2022  205.82  213.50  198.59  211.25    211.25  100,446,800
15  Oct 21, 2022  206.42  214.66  203.80  214.44    214.44   75,713,800
16  Oct 20, 2022  208.28  215.55  202.00  207.28    207.28  117,798,100
17  Oct 19, 2022  219.80  222.93  217.78  222.04    222.04   66,571,500
18  Oct 18, 2022  229.50  229.82  217.25  220.19    220.19   75,891,900
19  Oct 17, 2022  210.04  221.86  209.45  219.35    219.35   79,428,800
20  Oct 14, 2022  224.01  226.26  204.16  204.99    204.99   94,124,500
21  Oct 13, 2022  208.30  222.99  206.22  221.72    221.72   91,483,000
22  Oct 12, 2022  215.33  219.30  211.51  217.24    217.24   66,860,700
23  Oct 11, 2022  220.95  225.75  215.00  216.50    216.50   77,013,200
24  Oct 10, 2022  223.93  226.99  218.36  222.96    222.96   67,925,000
25  Oct 07, 2022  233.94  234.57  222.02  223.07    223.07   83,916,800
26  Oct 06, 2022  239.44  244.58  235.35  238.13    238.13   69,298,400
27  Oct 05, 2022  245.01  246.67  233.27  240.81    240.81   86,982,700
28  Oct 04, 2022  250.52  257.50  242.01  249.44    249.44  109,578,500
29  Oct 03, 2022  254.50  255.16  241.01  242.40    242.40   98,363,500

Input the #past data you want to get

In [2]:
from datetime import date
year = 2022
month = 11
day = 1


stock_name = str('TSLA')
d1 = date(year,month,day)
now = date.today()
result = abs(now - d1).days
result

16

In [58]:
driver = webdriver.Chrome(executable_path="chromedriver.exe")
url = 'https://finance.yahoo.com/quote/'+ stock_name +'/history?p='+ stock_name 
driver.get(url)

data =[]
for i in range(1,result+1):
    date = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[1]/span').text
    open = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[2]/span').text
    high = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[3]/span').text
    low = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[4]/span').text
    close = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[5]/span').text
    adj_close = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[6]/span').text
    volume = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[7]/span').text
    
    data.append({'date' : date,
    'stock_name' : stock_name,
                    'open' : open,
                    'high' :high,
                    'low': low,
                    'close':close,
                    'adj_close': adj_close,
                    'volume':volume})
    
cs =  pd.DataFrame(data)

cs

,date,stock_name,open,high,low,close,adj_close,volume
0,"Nov 11, 2022",TSLA,186.00,196.52,182.59,195.97,195.97,"114,229,200"
1,"Nov 10, 2022",TSLA,189.90,191.00,180.03,190.72,190.72,"132,703,000"
2,"Nov 09, 2022",TSLA,190.78,195.89,177.12,177.59,177.59,"127,062,700"
3,"Nov 08, 2022",TSLA,194.02,195.20,186.75,191.30,191.30,"128,803,400"
4,"Nov 07, 2022",TSLA,208.65,208.90,196.66,197.08,197.08,"93,916,500"
5,"Nov 04, 2022",TSLA,222.60,223.80,203.08,207.47,207.47,"98,453,100"
6,"Nov 03, 2022",TSLA,211.36,221.20,210.14,215.31,215.31,"56,538,800"
7,"Nov 02, 2022",TSLA,226.04,227.87,214.82,214.98,214.98,"63,070,300"
8,"Nov 01, 2022",TSLA,234.05,237.40,227.28,227.82,227.82,"62,688,800"
9,"Oct 31, 2022",TSLA,226.19,229.85,221.94,227.54,227.54,"61,554,300"
10,"Oct 28, 2022",TSLA,225.40,228.86,216.35,228.52,228.52,"69,152,400"

In [81]:
from datetime import date
start_year = 2022
start_month = 11
start_day = 1


end_year = 2022
end_month = 11
end_day = 5


stock_name = str('TSLA')
start_date = date(start_year, start_month, start_day)
end_date = date(end_year, end_month, end_day)
now = date.today()

start_day_indx = abs(now - start_date).days
end_day_indx = abs(now - end_date).days

print(int(start_day_indx))
print(int(end_day_indx))

12
8

In [49]:
driver = webdriver.Chrome(executable_path="chromedriver.exe")
url = 'https://finance.yahoo.com/quote/'+ stock_name +'/history?p='+ stock_name 
driver.get(url)

date_in_sys = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr[1]/td[1]/span').text

date_in_sys_splt = date_in_sys.split()
print(date_in_sys)
print(date_in_sys_splt)

/var/folders/6v/gvmn70fn0r7785qthfhm7cnr0000gn/T/ipykernel_19202/1229418866.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="chromedriver.exe")

Nov 11, 2022
['Nov', '11,', '2022']

In [77]:
import datetime
timestamps = [datetime.datetime(curr_year_in_web, curr_month_in_web, curr_day_in_web, 0, 0)]
[d.strftime('%m-%d-%Y') for d in timestamps]

['11-21-2016', '11-22-2016', '11-23-2016']

In [99]:
curr_month_in_web = 0
curr_month_in_web = (strptime(date_in_sys[0:3],'%b').tm_mon)
curr_day_in_web = (int(date_in_sys[4:6]))
curr_year_in_web = (int(date_in_sys[8:12]))

# print(curr_month_in_web)
# print(curr_day_in_web)
# print(curr_year_in_web)

# print([curr_year_in_web, curr_month_in_web, curr_day_in_web])

# curr_date_in_web = date(curr_year_in_web, curr_month_in_web, curr_day_in_web)
# print(curr_day_in_web)

import datetime
timestamps = [datetime.datetime(curr_year_in_web, curr_month_in_web, curr_day_in_web, 0, 0)]
a = [d.strftime('%m-%d-%Y') for d in timestamps]
a = a[0]
a
print(type(a))

# from datetime import datetime

date_time_obj = datetime.datetime.strptime(a, '%m/%d/%y')
date_time_obj

<class 'str'>

ValueError: time data '11-11-2022' does not match format '%m/%d/%y'

In [97]:
now = date.today()
print(now)

diff_bet_web_and_now = abs(now - a).days
print(int(diff_bet_web_and_now))

2022-11-13

TypeError: unsupported operand type(s) for -: 'datetime.date' and 'str'

In [3]:
from time import strptime

curr_month_in_web = 0
curr_month_in_web += int(strptime(date_in_sys[0],'%b').tm_mon)
print(curr_month_in_web)

curr_day_in_web = 0
curr_day_in_web += int(date_in_sys[1][0:2])
print(curr_day_in_web)

curr_year_in_web = 0
curr_year_in_web += int(date_in_sys[2])
print(curr_year_in_web)

curr_date_in_web = date(curr_year_in_web, curr_month_in_web, curr_day_in_web)
print(curr_day_in_web)

now = date.today()

diff_bet_web_and_now = abs(now - curr_date_in_web).days
print(int(diff_bet_web_and_now))

NameError: name 'date_in_sys' is not defined

In [4]:
from datetime import date
year = 2022
month = 11
day = 1


stock_name = str('TSLA')
d1 = date(year,month,day)
now = date.today()
result = abs(now - d1).days
result

16

In [5]:
from datetime import date
start_year = 2022
start_month = 11
start_day = 1


end_year = 2022
end_month = 11
end_day = 5


stock_name = str('TSLA')
start_date = date(start_year, start_month, start_day)
end_date = date(end_year, end_month, end_day)
now = date.today()

start_day_indx = abs(now - start_date).days
end_day_indx = abs(now - end_date).days

print(int(start_day_indx))
print(int(end_day_indx))

16
12

In [6]:
driver = webdriver.Chrome(executable_path="chromedriver.exe")
url = 'https://finance.yahoo.com/quote/'+ stock_name +'/history?p='+ stock_name 
driver.get(url)

data =[]
for i in range(end_day_indx,start_day_indx):
    date = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[1]/span').text
    open = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[2]/span').text
    high = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[3]/span').text
    low = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[4]/span').text
    close = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[5]/span').text
    adj_close = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[6]/span').text
    volume = driver.find_element("xpath", '//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr['+str(i)+']/td[7]/span').text
    
    data.append({'date' : date,
    'stock_name' : stock_name,
                    'open' : open,
                    'high' :high,
                    'low': low,
                    'close':close,
                    'adj_close': adj_close,
                    'volume':volume})
    
cs =  pd.DataFrame(data)

cs

/var/folders/6v/gvmn70fn0r7785qthfhm7cnr0000gn/T/ipykernel_17765/1056133838.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path="chromedriver.exe")

,date,stock_name,open,high,low,close,adj_close,volume
0,"Nov 02, 2022",TSLA,226.04,227.87,214.82,214.98,214.98,"63,070,300"
1,"Nov 01, 2022",TSLA,234.05,237.40,227.28,227.82,227.82,"62,688,800"
2,"Oct 31, 2022",TSLA,226.19,229.85,221.94,227.54,227.54,"61,554,300"
3,"Oct 28, 2022",TSLA,225.40,228.86,216.35,228.52,228.52,"69,152,400"